@-webkit-keyframes dash {
 to {
   stroke-dashoffset: 800;
 }
}

.arrow-line,.arrow-head{
    fill:none;
    stroke:#231f20;
    stroke-miterlimit:10;
    stroke-width:6px;
}
.arrow-line{
    stroke-dasharray:15;
}

.arrow-line {
  -webkit-animation: dash 30s reverse linear infinite;
  stroke-dasharray:15;
}
