.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 40px;
  padding: 20px;
  overflow: auto;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #9bbcf2;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

section.landing {
  background: url(./assets/servicehealth.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 1000px;
}

div.login-form {
  background-color: #9bbcf2;
  position: absolute;
  top: 50px;
  left: 10px;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 25px;
  border: 2px solid #73AD21;
}

.vertical-text {
  position: relative;
	transform: rotate(90deg);
  transform-origin: left top 0;
  font-size: 1.2em;
  align-content: center;
  white-space: nowrap;
  position: absolute;
  left: 50px;
  top: 180px;
}

.DPNodeView {
  padding: 10px;
}

.iready {
  width: 80px;
  height: 500px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 120px;
}

.dp-nodes {
  width: 90%;
  height: 500px;
  display: inline-block;
}

.dp-nodes-container {
  width: 90%;
  height: 500px;
  display: table;
}

.dp-nodes-row {
  display: table-row;
}

.DPNode {
  display: table-cell;
  padding: 10px;
  width: 120px;
  height: 120px;
}

.DPDatabase {
  display: table-cell;
  padding: 10px;
  width: 120px;
  height: 120px;
}

.DPArrow {
  display: table-cell;
  padding: 10px;
  width: 100px;
  height: auto;
}

.DPConnectorView {
  padding: 10px;
  overflow: auto;
}

.dp-connectors-container {
  width: 100%;
  display: table;
  padding: 5px;
}

.dp-connectors-row {
  display: table-row;
  padding: 5px;
  height: auto;
}

.DPConnector {
  display: table-cell;
  padding: 3px;
  width: 100px;
  height: auto;
  padding: 10px;
  /* border: 2px solid red;
  border-radius: 25px; */
}

.DPTopics {
  display: table-cell;
  padding: 3px;
  width: 200px;
  height: auto;
  padding: 10px;
  /* border: 2px solid blue; */
  position: relative;
}

.empty-div {
  display: table-cell;
}

.topic-text {
  font-size: 0.8em;
  position: absolute;
  top: 0;
  margin-left: 20px;
  margin-right: 60px;
}

.connector-text {
  font-size: 0.75em;
}

.error-text {
  color: red;
  font-size: 0.75em;
}

.arrow-style {
  width: 120px;
  height: 40px;
}

.arrow-rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow-rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrow-rotate32 {
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg);
  vertical-align: middle;
}

.dbIcons {
  margin: 0 auto;
}

.serverIcons {
  margin: 0 auto;
}

#top > div, #mid > div, #bottom > div {
  width: 200px;
  height: 200px;
  float: left;
}

/*#mid > div {
  width: 200px;
  height: 200px;
  float: left;
}*/

#arrow {
  float: left;
  width: 100px;
}

#kafka {
  /*width: 800px;*/
  display: inline-block;
}

#ready {
  display: inline-block;
  float: left;
  width: 100px;
}

.DPConnectorLogo:hover {
    cursor: pointer;
}

.DPTopicsText:hover {
    cursor: pointer;
}
.alert-text {
  font-size: .75em;
}
